.container{
    display: inline-block;
    text-align: center;
    margin: 8vh 12vw;
    background-color: black;
    height: 75vh;
    width:  50vw;
    border-radius: 20px;
}


div.display input{
    text-align: right;
    margin-top: 1.5em;
    background: transparent;
    width: 50%;
    height: 2em;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    color:#FFFFFF ;
}

div.display input#display2{
    font-size: small;
    margin: 0;
    height: 10px;
}

.container div input:hover{
        background-color:#5c5d61;

}
div .row input{
    height: 62px;
    width: 62px;
    margin-top:10px;
    background-color:#303136 ;
    border: 0px solid none;
    border-radius: 10px;
    text-align: center;
    font-size: large;
    color: #29A8FF;
    font-family: 'Times New Roman', Times, serif;
    border: none;
}

div#row1 input#delete{
    background-image: url(./delete.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
}

#add,#equal{
    height: 90px;
    
}


.container2{
    display: inline-block;
}

.container3{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
}

.container4{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input.op2{
    background-color: #1991FF;
    color: #B2DAFF;
}

div .row input.op2{
    background-color: #1991FF;
    color: #B2DAFF;
    font-size: x-large;
}

div .row input.op1{
    background-color: #616161;
    color: #A5A5A5;
}

@media screen and (max-width:540px) {
    .container{
        height: 75vh;
        width:  80vw;
        margin: 8vh 10vw;
    }

    div.display input#display2{
        font-size: medium;
    }
}

@media screen and (max-width:760px) and (min-width:540px){
    .container{
        width: 60vw;
    }
}

@media screen and (min-width:900px){
    .container{
        width: 35vw;
    }
}